*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    // width: 10rem;
    height: 20rem;
}

#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}