*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    // width: 10rem;
    max-height: 20rem;
}

header {
    height: 15%;
}

#map {
    height: 85%;
}

#image-con {
    position: absolute;
    bottom: 0;
    height: 15rem;
    width: 100%;
    background-color: transparent;
    background-color: red;
    transform: translateY(100%);
    transition: .3s all;
    z-index: 1000;
    &.show {
        transform: translateY(0);
    }
}

.leaflet-marker-icon {}