:root {
  --church-color: lightseagreen;
  --synagogue-color: gray;
  --monastery-color: violet;
  --temple-color: yellow;
  --mosque-color: lightblue;
  --shrine-color: salmon;
  --primary-color: #0091EA;
  --primary-border: 3px solid;
  --def-transition: all .3s ease-in;
  --def-transition-fast: all .1s ease-in; }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'open sans', sans-serif; }

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr; }

/*==========================
=== General styling
===========================*/
img {
  max-height: 20rem; }

/*==========================
=== Map styling
===========================*/
#map {
  position: relative;
  grid-row: 2 / span 2; }
  #map::after {
    content: "";
    transition: var(--def-transition); }
  #map.show::after {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3); }
  #map.show aside {
    transform: translateX(0); }

aside {
  position: absolute;
  right: 0;
  height: 100%;
  width: 20rem;
  z-index: 100;
  background: #fff;
  transition: .3s all;
  transform: translateX(100%);
  padding: 1rem;
  overflow-y: scroll; }
  aside > button {
    display: block;
    position: relative;
    margin-left: auto;
    margin-bottom: .5rem;
    border: none;
    color: var(--primary-color);
    text-transform: uppercase; }
    aside > button::after {
      content: "";
      position: absolute;
      transition: var(--def-transition-fast); }
    aside > button:hover::after {
      right: 0;
      bottom: -2px;
      width: 100%;
      height: 3px;
      border-bottom: var(--primary-border) var(--primary-color); }
  aside > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    aside > div img {
      width: 100%; }
      aside > div img:not(:first-of-type) {
        margin-top: .3rem; }

/*==========================
=== Filter styles
===========================*/
#filter-container {
  grid-row: 1/1;
  height: min-content;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow-y: visible;
  z-index: 100; }

label {
  border-bottom-width: 0px;
  transition: var(--def-transition-fast);
  padding: .5rem 1.5rem;
  font-size: .9em; }

.filter-checkbox {
  position: absolute;
  left: -9999999px; }
  .filter-checkbox:hover + .label-church, .filter-checkbox:checked + .label-church {
    border-bottom: 3px solid var(--church-color); }
  .filter-checkbox:hover + .label-synagogue, .filter-checkbox:checked + .label-synagogue {
    border-bottom: 3px solid var(--synagogue-color); }
  .filter-checkbox:hover + .label-monastery, .filter-checkbox:checked + .label-monastery {
    border-bottom: 3px solid var(--monastery-color); }
  .filter-checkbox:hover + .label-temple, .filter-checkbox:checked + .label-temple {
    border-bottom: 3px solid var(--temple-color); }
  .filter-checkbox:hover + .label-mosque, .filter-checkbox:checked + .label-mosque {
    border-bottom: 3px solid var(--mosque-color); }
  .filter-checkbox:hover + .label-shrine, .filter-checkbox:checked + .label-shrine {
    border-bottom: 3px solid var(--shrine-color); }

/*==========================
=== Marker styles
===========================*/
.marker {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
  overflow: hidden; }
  .marker::before {
    content: "";
    height: .9rem;
    width: .9rem;
    background-color: #fff;
    border-radius: 2rem; }
  .marker.on-enter {
    z-index: 1000; }

.marker-church {
  background-color: var(--church-color); }

.marker-synagogue {
  background-color: var(--synagogue-color); }

.marker-monastery {
  background-color: var(--monastery-color); }

.marker-temple {
  background-color: var(--temple-color); }

.marker-mosque {
  background-color: var(--mosque-color); }

.marker-shrine {
  background-color: var(--shrine-color); }

.hide,
.hide-filter,
.hide-year {
  display: none; }
