:root {
    --church-color: lightseagreen;
    --synagogue-color: gray;
    --monastery-color: violet;
    --temple-color: yellow;
    --mosque-color: lightblue;
    --shrine-color: salmon;
    --def-transition: all .1s ease-in;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/*==========================
=== General styling
===========================*/

img {
    // width: 10rem;
    max-height: 20rem;
}

header {
    height: 15%;
}


/*==========================
=== Map styling
===========================*/

#map {
    position: relative;
    height: 85%;
}

#image-con {
    position: absolute;
    bottom: 0;
    height: 15rem;
    width: 100%;
    background-color: transparent;
    background-color: red;
    transform: translateY(100%);
    transition: .3s all;
    z-index: 1000;
    &.show {
        transform: translateY(0);
    }
}

aside {
    position: absolute;
    right: 0;
    height: 100%;
    width: 25rem;
    z-index: 100;
    background: #fff;
    transition: .3s all;
    transform: translateX(100%);
    &.show {
        transform: translateX(0);
    }
}


/*==========================
=== Filter styles
===========================*/

.filter-btn {
    position: absolute;
    left: -9999999px;
    &:hover,
    &:checked {
        &+label {
            // color: var(--(attr(name))-color);
            // color: attr(data-color); // Only returns a string 😞
        }
        &+.label-church {
            border-bottom: 3px solid var(--church-color);
        }
        &+.label-synagogue {
            border-bottom: 3px solid var(--synagogue-color);
        }
        &+.label-monastery {
            border-bottom: 3px solid var(--monastery-color);
        }
        &+.label-temple {
            border-bottom: 3px solid var(--temple-color);
        }
        &+.label-mosque {
            border-bottom: 3px solid var(--mosque-color);
        }
        &+.label-shrine {
            border-bottom: 3px solid var(--shrine-color);
        }
    }
    &:hover,
    &:focus {}
}

label {
    transition: var(--def-transition); //  border-bottom-width: 0px;
}

// .label-church {
//     border-bottom: 3px solid var(--church-color);
// }
// .label-synagogue {
//     border-bottom: 3px solid var(--synagogue-color); //  background-color: var(--synagogue-color);
// }
// .label-monastery {
//     border-bottom: 3px solid var(--monastery-color); //  background-color: var(--monastery-color);
// }
// .label-temple {
//     border-bottom: 3px solid var(--temple-color); //  background-color: var(--temple-color);
// }
// .label-mosque {
//     border-bottom: 3px solid var(--mosque-color); //  background-color: var(--mosque-color);
// }
// .label-shrine {
//     border-bottom: 3px solid var(--shrine-color); //  background-color: var(--shrine-color);
// }

/*==========================
=== Marker styles
===========================*/

.marker {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1.5rem;
    overflow: hidden;
    &::before {
        content: "";
        height: .9rem;
        width: .9rem;
        background-color: #fff;
        border-radius: 2rem;
    }
    &.on-enter {
        z-index: 1000;
    }
    &.on-leave {}
}

// .marker {
//     background-image: url('../static/images/mapbox-icon.png');
//     background-size: cover;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     cursor: pointer;
// }
.marker-church {
    background-color: var(--church-color);
}

.marker-synagogue {
    background-color: var(--synagogue-color);
}

.marker-monastery {
    background-color: var(--monastery-color);
}

.marker-temple {
    background-color: var(--temple-color);
}

.marker-mosque {
    background-color: var(--mosque-color);
}

.marker-shrine {
    background-color: var(--shrine-color);
}

.show {}

.hide {
    display: none;
}